
@media(min-width:992px) and (max-width:1150px){
  .master_class_blok{
    margin: 35px;
  }

  .master_class_blok .img{
    height: 250px;
    margin-right: 20px;
  }

  .master_class_blok .text{
    height: 350px;
    margin-left: 25px;
    padding-top: 0;
    font-size: 13px;
  }
}

@media(min-width:769px) and (max-width:991px){

  .logoTel p{
    width: 60%;
    height: 80%;
    font-size: 35px;
    margin-top: 30px;
    text-align: right;
    margin-bottom: 0;
  }

  nav{
    margin-top: 10px;
  }
   .menu li{
    padding-left: 5%;
    padding-right: 5%;
  }

  .info{
    height: auto;
    padding: 20px;
    font-size: 90%;
    line-height: 1;
  }
  .info h1{
    padding-bottom: 10px;
    font-size: 160%;
  }
  .master_class_blok{
    margin: 10px;
  }

  .master_class_blok .img{
    height: 200px;
    margin-right: 20px;
  }

  .master_class_blok .text{
    height: 350px;
    margin-left: 25px;
    padding-top: 0;
    font-size: 90%;
    line-height: 1.3;
  }
}


@media(min-width: 427px) and (max-width: 769px) {

  .burger__icon{
    display: inline-block;
  }
  .burger{
    margin-right: 5%;
  }

  ul.menu {
    position: fixed;
    display: none;
    top: 4.5%;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-image: linear-gradient(to bottom, #ff9808, #fc9f02, #f8a600, #f5ad00, #f1b301, #f2ab00, #f2a400, #f29c00, #f58303, #f56714, #f34723, #ee1430);
    z-index: 1000;
    overflow: auto;
  }
  .menu li a{
    text-shadow: none;
    font-size: 120%;
    text-align: left;
  }
  .menu .education .interiorSubject .instrument {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }

  .logoTel{
    flex-direction: column;
    justify-content: space-between;
  }
  .logoTel a{
    height: 75px;
  }
  .logo{
    width: 80%;
    height: 90%;
  }

  header p{
    font-size: 170%;
    margin-left: 30px;
    margin-top:0px;
    margin-bottom: 20px;
  }

  header{
    display: flex;
    justify-content:space-around;
    align-items: center;
  }

  .info{
    padding: 20px;
    font-size: 90%;
    line-height: 1;
  }
  .info h1{
    padding-bottom: 10px;
    font-size: 160%;
  }

  .master_class_blok{
    flex-direction: column;
    margin: 20px;
  }
  .master_class_blok .img{
    width: 60%;
    height: auto;
    margin-right: 0;
  }
  .master_class_blok .text{
    width: 100%;
    height: auto;
    margin-left: 0;
    padding-top: 20px;
  }
}

@media(max-width: 426px) and (min-width: 320px){

  .burger__icon{
    display: inline-block;
  }
  .burger{
    margin-right: 5%;
  }

  ul.menu {
    position: fixed;
    display: none;
    top: 4.5%;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-image: linear-gradient(to bottom, #ff9808, #fc9f02, #f8a600, #f5ad00, #f1b301, #f2ab00, #f2a400, #f29c00, #f58303, #f56714, #f34723, #ee1430);
    z-index: 1000;
    overflow: auto;
  }
  .menu li a{
    text-shadow: none;
    font-size: 120%;
    text-align: left;
  }

  .menu .education .interiorSubject .instrument {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }

  .logoTel{
    flex-direction: column;
    justify-content: space-between;
  }
  .logoTel a{
    height: 75px;
  }
  .logo{
    width: 80%;
    height: 90%;
  }

  header p{
    font-size: 170%;
    margin-left: 30px;
    margin-top:0px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  header{
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  .info{
    padding: 20px;
    font-size: 90%;
    line-height: 1;
  }
  .info h1{
    padding-bottom: 10px;
    font-size: 160%;
  }

  .master_class_blok{
    flex-direction: column;
    margin: 20px;
    font-size: 90%;
  }
  .master_class_blok .img{
    width: 70%;
    height: auto;
    margin-right: 0;
  }
  .master_class_blok .text{
    width: 100%;
    height: auto;
    margin-left: 0;
    padding-top: 20px;
  }

  footer li a{
   font-size: 100%;
  }
  .contacts{
    font-size: 80%;
  }
  .infoAboutSite{
    font-size: 80%;
  }
  .infoAboutUs{
    font-size: 80%;
  }
}
