html{
  max-width: 1920px;
  width: 100%;
}
body{
  box-sizing: border-box;
  font: 400 14px/23px "Open Sans", sans-serif;
  color: #777;
  background: #fff;
  margin: 0;
}


/* Header */


header{
  background-image: linear-gradient(to bottom, #ff9808, #fc9f02, #f8a600, #f5ad00, #f1b301, #f2ab00, #f2a400, #f29c00, #f58303, #f56714, #f34723, #ee1430);

  overflow: hidden;
  position: static;
  border-radius:5px 5px 0 0;
  box-shadow:inset 0 0 10px  rgba(0,0,0,0.5);
}
.logoTel{
  display: flex;
  justify-content: space-between;
  height: 105px;
  }

header p{
  font-family: 'Kurale', serif;
  font-size: 44px;
  margin-right: 50px;
  margin-top:40px;
  color: #8B4513;
  font-weight:500;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}
/* Burger */
.burger {
  text-align: right;
}

.burger__icon {
   display: none;
   width: 45px;
   height: 35px;
   position: relative;
   cursor: pointer;
}

.burger__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #8B4513;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger__icon span:nth-child(1) {
  top: 0px;
}

.burger__icon span:nth-child(2), .burger__icon span:nth-child(3) {
  top: 13px;
}

.burger__icon span:nth-child(4) {
  top: 26px;
 }
 .burger.burger_state_open .burger__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.burger.burger_state_open .burger__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.burger.burger_state_open  .burger__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.burger.burger_state_open  .burger__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.burger.burger_state_open .menu {
  display: block;
}

/*  MENU */
nav{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;

  }
ul.menu{
  display: -webkit-flex;
  display: flex;
  padding: 0;
  justify-content: center;
  font-family: 'Kurale', serif;
}
.menu li{
  list-style: none;
  padding-left: 12%;
  padding-right: 12%;
  width: 33%;
  text-align: center;
}
.menu li a{
  text-decoration: none;
  font-size: 24px;
  color:#FFFFFF;
  text-transform:uppercase;
  font-family: 'Kurale', serif;
  letter-spacing: 2px;
  position: relative;
  text-shadow:2px 0px 4px #ccccc6;
}
.menu li a::before{
 content: '';
 width: 0;
 height: 3px;
 background-color: #33bdf1;
 position: absolute;
 top: 90%;
 left: 0;
 transition: .5s;
 mix-blend-mode: multiply;
}
.menu li a::after{
 content: '';
 width: 0;
 height: 3px;
 background-color: #8B4513;
 position: absolute;
 top: 90%;
 right: 0;
 transition: .5s;
 mix-blend-mode: multiply;
}
.menu li:hover a::before{
 width: 50%;
 transform: translateX(100%);
}
.menu li:hover a::after{
 width: 50%;
 transform: translateX(-100%);
}
.menu li a:hover{
 color: #e5eae8;
}

/*  MAIN*/
main section{
  width: 100%;
  box-sizing: border-box;
}

.info{
  height: auto;
  text-align: center;
  color: #A60C00;
  padding: 20px;
}
.info h1{
  padding-bottom: 20px;
  font-size: 180%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.master_class_blok{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 80px;
  box-sizing: border-box;
}
.master_class_blok .img{
  width:30%;
  height: 320px;
  margin-right: 50px;
  -webkit-box-shadow: 0px 0px 28px 3px rgba(191,58,48,0.48);
  -moz-box-shadow: 0px 0px 28px 3px rgba(191,58,48,0.48);
  box-shadow: 0px 0px 28px 3px rgba(191,58,48,0.48);
}
.master_class_blok .img img{
  width: 100%;
  height: 100%;
}

.master_class_blok .text{
  width:50%;
  height: 320px;
  margin-left: 25px;
  color: #555555;
  line-height: 1.5;
}
.master_class_blok .text p{
  margin-left: 50px;
}
.master_class_blok .text h2{
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #A60C00;
  margin-top: 0;
}


/* footer */
footer{
  width: 100%;
  background-image: linear-gradient(to top, #ff9808, #fc9f02, #f8a600, #f5ad00, #f1b301, #f2ab00, #f2a400, #f29c00, #f58303, #f56714, #f34723, #ee1430);
  margin: 0;
  font-size: 18px;
  font: 400 "Open Sans", sans-serif;
  box-shadow:inset 0 0 10px  rgba(0,0,0,0.5);
}

.contactsInfo{
  display: flex;
  justify-content:space-around;
  align-items: center;
 }
 footer li a{
   text-decoration: none;
   font-size: 20px;
   color:#FFFFFF;
   text-transform:uppercase;
 }
 footer li{
   list-style-type: none;
   line-height: 200%;
   color:#FFFFFF;
   vertical-align:top;
   text-decoration: none;
 }
 .infoAboutUs{
   width: 50%;
   text-align: center;
 }
 .infoAboutSite{
    text-align: center;
    font-style: italic;
    color: #FFFFFF;
 }
 svg{
   padding-right: 20px;
   width: 6%;
   height: 6%;
 }
